*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: linear-gradient rgb(0,0,0,0.75),rgb(0,0,0,0.75),url();
}
.count{
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid black;
    padding: 80px 40px;
    border-radius: 10px;
    background-color: aliceblue;
    width: 90%;

}
.count h1{
    color: rgb(224, 44, 44);
    padding: 15px 0px;

}
.count p:first-child{
    text-transform: capitalize;
    color: #007acc;
    font-size: 2rem;
}
button{
    padding: 10px 70px;
    background-color: #0e639c;
    color: #fff;
    display: block;
    margin-bottom: 12px;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.save-btn{
    background-color: aqua;
    position: relative;
    left: 2px;
    padding: 10px 90px;
    
}
#entrying{
    color: black;
    text-align: center;
    font-size: 1.3rem;

}
@media only screen and (min-width: 768px){
    body{
        height: 100dvh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient rgb(0,0,0,0.75),rgb(0,0,0,0.75),url();
    }
}